page-login {

    #welcometext{
        text-align: center;
        padding-top: 100px;
        padding-bottom: 10px;
        font-size:30px;
    }

    #catchline{
        text-align: center;
    }

    .padding{
        padding-top:50px;
    }

    .innerpadding{
        padding-top:10px;
    }

    .buttonpadding{
        padding-top:30px;
    }


   
}
