page-login {

    $font-color: #545F67;
    $font-color2: #28b574;
    $font-color3: #FEFEFE;
    $font-color4: #e26c48;
    $font-color5: #B4C9CE;

    .scroll-content{
        background-color: $font-color5;
    }

    .item-input-has-focus .label-md[stacked],
    .input-has-focus .label-md[stacked],
    .item-input-has-focus .label-md[floating],
    .input-has-focus .label-md[floating]{
        color: $font-color !important;
        }


    #imgcontainer{
        position: relative;
        text-align: center;
        height: 400px;

        img{
            width: 100%;

        }
    
        #cardcontainer{
            padding: 20px;
        

            #card{
                position: relative;
                margin-top: -130px;
                border-radius: 20px;
                padding:20px;
                text-align: center;

                #welcometext{
                    
                    padding-top: 20px;
                    padding-bottom: 5px;
                    font-size:30px;
                    color: $font-color;
                    font-weight: 500;
                }

                #catchline{
                    
                    color: $font-color;
                }

                .padding{
                    padding-top:20px;
                }

                .innerpadding{
                    padding-top:5px;
                }

                .buttonpadding{
                    padding-top:30px;
                    padding-bottom: 10px;
                    button{
                        border-radius: 20px;
                        background-image: linear-gradient(to bottom, #62c999, #55c490, #48bf87, #39ba7d, #28b574);
                        -webkit-box-shadow: 1px 5px 37px -1px rgba($font-color2,1);
                        -moz-box-shadow: 1px 5px 37px -1px rgba($font-color2,1);
                        box-shadow: 1px 5px 37px -1px rgba($font-color2,1);
                    }
                }

                .clearbutton{
                    text-align: center;
                    button{
                        color: $font-color4;
                    }
                    

                }
            }
        }


    }
}
