page-main {

    $font-color2: #69DC9E;
    $font-color: #ABABAB;
    
    .tabs .tabbar {
        background-color: #Ededed;
    }

    .tabbar {
        a.tab-button:nth-of-type(1) {
            color:	$font-color;
            .tab-button-icon {
                color: 	$font-color;
            }
        }
        a.tab-button:nth-of-type(2) {
            color:$font-color;
            .tab-button-icon {
                color: $font-color;
            }
        }
       
    
        a.tab-button[aria-selected=true]:nth-of-type(1) {
                color:  $font-color2;
                .tab-button-icon {
                    color:  $font-color2;
                }
            }
            a.tab-button[aria-selected=true]:nth-of-type(2) {
                color: $font-color2;
                .tab-button-icon {
                    color: $font-color2;
                }
            }
          
            
        }
}
