page-main {

    .tabs .tabbar {
        background-color: #fff;
    }

    .tabbar {
        a.tab-button:nth-of-type(1) {
            color:	#B8B8B8;
            .tab-button-icon {
                color: 	#B8B8B8;
            }
        }
        a.tab-button:nth-of-type(2) {
            color:	#B8B8B8;
            .tab-button-icon {
                color: 	#B8B8B8;
            }
        }
        a.tab-button:nth-of-type(3) {
            color:	#B8B8B8;
            .tab-button-icon {
                color: 	#B8B8B8;
            }
        }
        a.tab-button:nth-of-type(4) {
            color:	#B8B8B8;
            .tab-button-icon {
                color: 	#B8B8B8;
            }
        }
        a.tab-button[aria-selected=true]:nth-of-type(1) {
                color: #437761;
                .tab-button-icon {
                    color: #437761;
                }
            }
            a.tab-button[aria-selected=true]:nth-of-type(2) {
                color: #437761;
                .tab-button-icon {
                    color:#437761;
                }
            }
            a.tab-button[aria-selected=true]:nth-of-type(3) {
                color:#437761;
                .tab-button-icon {
                    color: #437761;
                }
            }
            a.tab-button[aria-selected=true]:nth-of-type(4) {
                color: #437761;
                .tab-button-icon {
                    color: #437761;
                }
            }
        }
}
