page-newprofile {

    #welcometext{
        text-align: center;
        padding-top: 100px;
        padding-bottom: 10px;
        font-size:30px;
    }

    .padding{
        padding-top:50px;
    }

    .innerpadding{
        padding-top:10px;
    }
}
