<!--

Generated template for the ProfilePage page.

See http://ionicframework.com/docs/components/#navigation for more info on

Ionic pages and navigation.

-->

<ion-header>
    <ion-navbar>
     <ion-title id="title">Wen Li Cheong {{(profileData|async)?.firstname}} {{(profileData|async)?.lastname}}</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content>
  <div id="topcontainer"> 
    <div id="profile">Wen Li Cheong {{(profileData|async)?.firstname}} {{(profileData|async)?.lastname}}</div>
    <span id="card">
      <div id="text">Past Vouchers</div>
    </span>
  </div> 
 
  <div id="bottomcontainer">
     

    <ion-card id="carddesign" *ngIf= "this.bronze==1">
        <ion-row>
          <ion-col col-7>
              <ion-card-content>
                  <ion-card-title>
                       <span>{{bronzeRef.rewards}}</span>
                  </ion-card-title>
                   <p class="font">
                     {{bronzeRef.description}}
                  </p>
                </ion-card-content>
          </ion-col>
          <ion-col col-5>
            <div id="pic">
              <img src="{{bronzeRef.photo}}"/> 
            </div>  
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-card id="carddesign" *ngIf= "this.silver==1">
          <ion-row>
            <ion-col col-7>
                <ion-card-content>
                    <ion-card-title>
                         <span>{{silverRef.rewards}}</span>
                    </ion-card-title>
                     <p class="font">
                       {{silverRef.description}}
                    </p>
                  </ion-card-content>
            </ion-col>
            <ion-col col-5>
              <div id="pic">
                <img src="{{silverRef.photo}}"/> 
              </div>  
            </ion-col>
          </ion-row>
        </ion-card>
        
      
        
      <ion-card id="carddesign" *ngIf= "this.gold==1">
          <ion-row>
            <ion-col col-7>
                <ion-card-content>
                    <ion-card-title>
                         <span>{{goldRef.rewards}}</span>
                    </ion-card-title>
                     <p class="font">
                       {{goldRef.description}}
                    </p>
                  </ion-card-content>
            </ion-col>
            <ion-col col-5>
              <div id="pic">
                <img src="{{goldRef.photo}}"/> 
              </div>  
            </ion-col>
          </ion-row>
        </ion-card>
        
      
  </div> 

 

</ion-content>