page-profile {

    $font-color: #545F67;
    $font-color2: #28b574;
    $font-color3: #FEFEFE;
    $font-color4: #e26c48;

   #topcontainer {
    
    position: relative;
    text-align: center;
    height: 250px;

    img{
        width:250px;
    }
        #profile{
            position: relative;
            bottom: 100px;
            right: 0px;
            color: $font-color2;
            font-size: 20px;
            font-weight: 500;
            background-color: #fff;
        }

        #card{
            position: relative;
            bottom: 60px;
            right: 0px;
            border-radius: 20px;
            padding: 10px;
            background-color: $font-color4;
            width: 150px;
            display: inline-block;
            color: $font-color3;
            -webkit-box-shadow: 1px 5px 37px -6px $font-color4;
            -moz-box-shadow: 1px 5px 37px -6px $font-color4;
            box-shadow: 1px 5px 37px -6px $font-color4;


            #text{
                font-size: 15px;
                text-align: center;
            }
        }
        
    }

   #bottomcontainer{

        text-align: center;
        padding: 20px;
   }

   #carddesign {
        
    padding:10px;
    position: relative;
    text-align: left;
    border-radius: 20px;
    
        -webkit-box-shadow: 1px 5px 37px -5px rgba(0,0,0,0.2);
        -moz-box-shadow: 1px 5px 37px -5px rgba(0,0,0,0.2);
        box-shadow: 1px 5px 37px -5px rgba(0,0,0,0.2);
    

    #pic{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        height: 100%;
        img{
            border-radius: 20px;
        }
    
    }

    ion-card-title{
        font-size: 20px;
        color: $font-color;
    }

    p.font{
        font-size: 13px;
        color: #959595;
    }


    }   
}
