
<ion-header>

  <ion-navbar>
    <ion-title>rewards</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-card id="carddesign" *ngIf= "this.bronze==1" >
      <img id="pic" src="{{bronzeRef.photo}}"/>  
        <ion-card-content>
          <ion-card-title>
               <span>{{bronzeRef.rewards}}</span>
          </ion-card-title>
           <p>
             {{bronzeRef.description}}
          </p>
        </ion-card-content>
       <button ion-button clear (click)= "navigatetocouponpage()">Claim Coupon</button>   
  </ion-card>

  <ion-card id="carddesign" *ngIf= "this.silver==1" >
      <img id="pic" src="{{silverRef.photo}}"/>  
        <ion-card-content>
          <ion-card-title>
               <span>{{silverRef.rewards}}</span>
          </ion-card-title>
           <p>
             {{silverRef.description}}
          </p>
        </ion-card-content>
       <button ion-button clear (click)=  "navigatetocouponpage()" >Claim Coupon</button>   
  </ion-card>

  <ion-card id="carddesign" *ngIf= "this.gold==1" >
    
      <img id="pic" src="{{goldRef.photo}}"/>  
        <ion-card-content>
          <ion-card-title>
               <span>{{goldRef.rewards}}</span>
          </ion-card-title>
           <p>
             {{goldRef.description}}
          </p>
        </ion-card-content>
       <button ion-button clear (click)=  "navigatetocouponpage()" >Claim Coupon</button>   
  </ion-card>
 
</ion-content>


