page-rewards {

    .toolbar-background {
        background-color: #fff ;
      }

    #carddesign {
        
        padding:10px;
        position: relative;
        text-align: center;
        border-radius: 20px;
        
        button{
            margin: auto;
            display:block;
        }

        #pic{
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            height: 100%;
            img{
                border-radius: 20px;
            }
        
        }

        p.font{
            font-size: 20px;
            color: map-get($colors, main);
        }

    
    }

   
    


    
  
}

