
<ion-header no-border>
    <ion-navbar>
      <ion-title></ion-title>
        
      </ion-navbar>
  </ion-header>

<ion-content padding>

<ion-card id="carddesign" *ngIf= "this.bronze==1" (click)="couponbronzepage()">
  <ion-row>
    <ion-col col-7>
        <ion-card-content>
            <ion-card-title>
                 <span>{{bronzeRef.rewards}}</span>
            </ion-card-title>
             <p class="font">
               {{bronzeRef.shortdescrip}}
            </p>
          </ion-card-content>
    </ion-col>
    <ion-col col-5 style="padding:0px">
      <div id="pic">
      <img src="{{bronzeRef.photo}}"/> 
      </div>  
    </ion-col>
  </ion-row>
</ion-card>


<ion-card id="carddesign" *ngIf= "this.silver==1" (click)="couponsilverpage()">
    <ion-row>
      <ion-col col-7>
          <ion-card-content>
              <ion-card-title>
                   <span>{{silverRef.rewards}}</span>
              </ion-card-title>
               <p class="font">
                 {{silverRef.shortdescrip}}
              </p>
            </ion-card-content>
      </ion-col>
      <ion-col col-5 style="padding:0px">
        <div id="pic">
      <!--   <img src="{{silverRef.photo}}"/> -->
      <img src="assets/imgs/cup.jpg">
        </div>  
      </ion-col>
    </ion-row>
  </ion-card>
  

  
<ion-card id="carddesign" *ngIf= "this.gold==1" (click)="coupongoldpage()">
    <ion-row>
      <ion-col col-7>
          <ion-card-content>
              <ion-card-title>
                   <span>{{goldRef.rewards}}</span>
              </ion-card-title>
               <p class="font">
                 {{goldRef.shortdescrip}}
              </p>
            </ion-card-content>
      </ion-col>
      <ion-col col-5 style="padding:0px">
        <div id="pic">
          <img src="{{goldRef.photo}}"/> 
        </div>  
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card id="carddesign" *ngIf= "this.platinum==1" (click)="couponplatinumpage()">
    <ion-row>
      <ion-col col-7>
          <ion-card-content>
              <ion-card-title>
                   <span>{{platinumRef.rewards}}</span>
              </ion-card-title>
               <p class="font">
                 {{platinumRef.shortdescrip}}
              </p>
            </ion-card-content>
      </ion-col>
      <ion-col col-5 style="padding:0px">
        <div id="pic">
          <img src="{{platinumRef.photo}}"/> 
        </div>  
      </ion-col>
    </ion-row>
  </ion-card>
  
</ion-content>


