page-rewards {

    
    $border-radius: 10px;
    $font-color: #545F67;
    $font-color2: #69DC9E;
    $background: #fefefe;
    .color{ color: #545F67; }

    .toolbar-background {
        background-color: $background;
      }

    .scroll-content{
        background-color: $background;
        background-image: url('./../assets/imgs/coupon.jpg');
        background-repeat: no-repeat;
        background-size: 150px;
        background-position: center;
       
    }
    
   
    #carddesign {
        
        padding:0px;
        position: relative;
        text-align: left;
        border-radius: $border-radius;
        -webkit-box-shadow: 1px 5px 37px -5px rgba(0,0,0,0.2);
        -moz-box-shadow: 1px 5px 37px -5px rgba(0,0,0,0.2);
        box-shadow: 1px 5px 37px -5px rgba(0,0,0,0.2);
        height: 130px;

        #pic{
           width:100%;
           display:flex;
           justify-content:center;
           align-items:center;
           overflow:hidden
            
            img{
                border-radius: 0px;
                flex-shrink:0;
                -webkit-flex-shrink: 0;
                max-width:70%;
                max-height:90%;
                
            }
        
        }

        ion-card-title{
            font-size: 20px;
        }

        p.font{
            font-size: 13px;
            color: $font-color;
        }

    
    }

   
    


    
  
}

