page-information {

    $font-color: #545F67;
    $font-color2: #69DC9E;

    ion-content{
        background-color: $font-color2;
    }

    h1{
        text-align: center;
    }

    .hi{

        width:500px;
        margin:auto;
        padding-left:50px;
        padding-right:50px;
    
    }

    .card-title-md {
        text-align: center;
    }

    .card-md p{
        text-align: center;
    }

    .card-md{
        min-height: 230px;
    }

    .swiper-pagination-bullet-active {
        background: $font-color2;
        opacity: 1;
        }
    
    .button{
        background-image: linear-gradient(to bottom, #69dc9e, #67d99c, #65d699, #63d397, #61d095);
        -webkit-box-shadow: 1px 5px 37px -1px rgba(105,220,158,1);
        -moz-box-shadow: 1px 5px 37px -1px rgba(105,220,158,1);
        box-shadow: 1px 5px 37px -1px rgba(105,220,158,1);

    }

}
