page-information {
    .hi{

        width:100px;
        margin:auto;
        padding:20px;
        
    }

    .card-title-md {
        text-align: center;
    }

    .card-md p{
        text-align: center;
    }

    .card-md{
        min-height: 230px;
    }

}
