page-information {

    ion-content{
        background-color: green;
    }

    h1{
        text-align: center;
    }

    #carddesign {
        border-radius: 15px;
    }

    .hi{

        width:500px;
        margin:auto;
        padding-left:50px;
        padding-right:50px;
    
    }

    .card-title-md {
        text-align: center;
    }

    .card-md p{
        text-align: center;
    }

    .card-md{
        min-height: 230px;
    }

    .swiper-pagination-bullet-active {
        background: color($colors,main);
        opacity: 1;
        }

}
