<!--
  Generated template for the QrcodePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>qrcode</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
        <button ion-button block (click)="scan()">Scan</button>
        <div *ngIf="scannedData.text">
          <label>Your barcode is</label>
          <br>
          <span>{{scannedData.text}}</span>
          <span>{{numData}}</span>
          <span>{{totalData}}</span>
        </div>
  </div>

  <div>
    <button ion-button block (click)="hello()">hello</button> 
    
  </div>     
      <!--
  <ion-list>
    <ion-item *ngFor="let item of arrData">
      <span>{{item}}</span>
    </ion-item>
  
  </ion-list>
-->
  <canvas #valueBarsCanvas ></canvas>
  <ion-card>
    <ion-row>
      <ion-col col-6>
        Unlock Gold Member
      </ion-col>
      <ion-col col-6> 
        2000 of 3000
      </ion-col>
    </ion-row>
    <ion-card-header>
      Green
    </ion-card-header>
    <ion-item>
      <pogress-bar [pogress]="this.loadProgress"></pogress-bar>
    </ion-item>
</ion-card>
    <circle-bar [value]="50"></circle-bar>
</ion-content>
