page-qrcode {

    
    $border-radius: 20px;
    

    .toolbar-background {
        background-color: #ecfffd ;
      }
    
    #greetingfont{
        font-size: 30px;
    }

    #topcontainer{
        background-color: #ecfffd ;
        height: 200px;
        -webkit-clip-path: circle(80% at 50% 0);
        clip-path: circle(80% at 50% 0);
        padding:40px;
        z-index: -1;
    }

    #container{
        padding:20px;
        
    }
    #pointscontainer{
        z-index:1;
        margin-top:-70px;
        border-radius:$border-radius;
        padding-top:30px;
        padding-bottom:30px;
        #mainpoint{
            font-size: 50px;
            color: map-get($colors, main);
            #secondarypoint{
                font-size: 40px;
                color: map-get($colors, main);
            }
        }
    }

    #moneycard{
        max-width: 150px !important;
        max-height: 150px !important;
        border-radius: $border-radius;
        padding:30px;
        font-size: 1.5rem;
        font-weight: 500;
        #moneycardfont{
            padding-top:10px;
            font-size: 30px;
            color: map-get($colors, main);

        }
    }

    #environmentcard{
        max-width: 150px !important;
        max-height: 150px !important;
        border-radius: $border-radius;
        padding:30px;
        font-size: 1.5rem;
        font-weight: 500;
        #environmentcardfont{
            padding-top:10px;
            font-size: 30px;
            color: map-get($colors, main);
        }
    }

    #squarebutton{
        min-width: 150px !important;
        min-height: 150px !important;
        border-radius: $border-radius;
        background-color: #fff;
        color: #000;

        .icon{
            justify-content: center;
            align-content: center;
            padding-bottom: 5px;
        }
    }

   

    @media only screen and (max-width: 380px) {
        #squarebutton{
            min-width: 130px !important;
            min-height: 130px !important;
        }
      }


    @media only screen and (max-width: 365px) {
        #squarebutton{
            min-width: 120px !important;
            min-height: 120px !important;
        }
      }
    

}