page-qrcode {

    .toolbar-background {
        background-color: #ecfffd ;
      }

    #topcontainer{
        background-color: #ecfffd ;
        height: 100px;
    }

    #slidercard{
        border-radius: 5px;
    }

}
