page-qrcode {

    .toolbar-background {
        background-color: #ecfffd ;
      }

    #topcontainer{
        background-color: #ecfffd ;
        height: 400px;
    }

    #slidercard{
        border-radius: 5px;
    }

    #loadingcirclecard{
        padding:20px;
        border-radius:5px;
    }

    ion-slides.slides {
        height: auto;
      }
      
      .swiper-pagination {
        bottom: 0px;
      }


    

}