page-couponsilver {

    $font-color: #545F67;
    $font-color2: #69DC9E;
    $background: #fefefe;

    .toolbar-background {
        background-color: $background;
      }

    .scroll-content{
        background-color: $background;
    } 

    button{
        border-radius: 15px;
        margin: auto;
        display: block;
    }

    button:hover{
        background-color: darken(#488aff,40%);
    }

    #content{

        text-align: center;

    }
}
