page-couponsilver {
    button{
        border-radius: 15px;
        margin: auto;
        display: block;
    }

    button:hover{
        background-color: darken(#488aff,40%);
    }

    #content{

        text-align: center;

    }
}
